<div id="room-cards">

    <div class="card-room mt-4">
            <img src="https://s3-eu-west-3.amazonaws.com/mobeetravelapp/photos/images/11678/original/louvre-cour-napoleon-900x500.jpg?1552298239" />
            <div class="card-room-infos card-room-top">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Hotel Proche Du Louvre</h4>
                    <h6 style="display:inline;"><i class="fas fa-map-marker-alt fa-sm"></i> Munich </h6>
                    <p style="display:inline;">(500 m du centre)</p>
                  </div>
                  <div class="col-md-4 text-center">
                    <%= image_tag "web/logo/bigbee.svg", alt: "Mon image", class: "bee-card", "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' %>
                    <%= image_tag "web/logo/bigbee.svg", alt: "Mon image", class: "bee-card", "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' %>
                    <p>Hébergement accessible<p>
                  </div>
                </div>
              <hr />
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <ul>
                      <li>Materiel médical accepté</li>
                      <li>Piscine accessible</li>
                    </ul>
                  <h5 style="color: #2FA822; font-size: 13px; font-weight: bold;"><i class="fas fa-mug-hot"></i>Petits déjeuners inclus.</h5>
                  </div>
                  <div class="col-md-5 right-card-text">
                    <h4> € 350</h4>
                    <h5>Prix moyen par nuit</h5>
                    <%= link_to "https://mobeetest2.herokuapp.com/room", class:"btn-show-room" do %>
                      Voir les disponibilités <i class="fas fa-chevron-right"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <div class="card-room mt-4">
            <img src="https://s3-eu-west-3.amazonaws.com/mobeetravelapp/photos/images/11678/original/louvre-cour-napoleon-900x500.jpg?1552298239" />
            <div class="card-room-infos card-room-top">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Hotel Proche Du Louvre</h4>
                    <h6 style="display:inline;"><i class="fas fa-map-marker-alt fa-sm"></i> Munich </h6>
                    <p style="display:inline;">(500 m du centre)</p>
                  </div>
                  <div class="col-md-4 text-center">
                    <%= image_tag "web/logo/bigbee.svg", alt: "Mon image", class: "bee-card", "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' %>
                    <%= image_tag "web/logo/bigbee.svg", alt: "Mon image", class: "bee-card", "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' %>
                    <p>Hébergement accessible<p>
                  </div>
                </div>
              <hr />
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <ul>
                      <li>Materiel médical accepté</li>
                      <li>Piscine accessible</li>
                    </ul>
                  <h5 style="color: #2FA822; font-size: 13px; font-weight: bold;"><i class="fas fa-mug-hot"></i>Petits déjeuners inclus.</h5>
                  </div>
                  <div class="col-md-5 right-card-text">
                    <h4> € 350</h4>
                    <h5>Prix moyen par nuit</h5>
                    <%= link_to "https://mobeetest2.herokuapp.com/room", class:"btn-show-room" do %>
                      Voir les disponibilités <i class="fas fa-chevron-right"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <div class="card-room mt-4">
            <img src="https://s3-eu-west-3.amazonaws.com/mobeetravelapp/photos/images/11678/original/louvre-cour-napoleon-900x500.jpg?1552298239" />
            <div class="card-room-infos card-room-top">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Hotel Proche Du Louvre</h4>
                    <h6 style="display:inline;"><i class="fas fa-map-marker-alt fa-sm"></i> Munich </h6>
                    <p style="display:inline;">(500 m du centre)</p>
                  </div>
                  <div class="col-md-4 text-center">
                    <%= image_tag "web/logo/bigbee.svg", alt: "Mon image", class: "bee-card", "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' %>
                    <%= image_tag "web/logo/bigbee.svg", alt: "Mon image", class: "bee-card", "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' %>
                    <p>Hébergement accessible<p>
                  </div>
                </div>
              <hr />
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <ul>
                      <li>Materiel médical accepté</li>
                      <li>Piscine accessible</li>
                    </ul>
                  <h5 style="color: #2FA822; font-size: 13px; font-weight: bold;"><i class="fas fa-mug-hot"></i>Petits déjeuners inclus.</h5>
                  </div>
                  <div class="col-md-5 right-card-text">
                    <h4> € 350</h4>
                    <h5>Prix moyen par nuit</h5>
                    <%= link_to "https://mobeetest2.herokuapp.com/room", class:"btn-show-room" do %>
                      Voir les disponibilités <i class="fas fa-chevron-right"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>



<!-- search panel -->
<div id="left">

    <div class="row">
      <br/>
      <div class="collapse" id="collapsePanel">

        <%= search_form_for @search, url:search_path do |f| %>

          <div class="row">
            <div class="col-md-8">
              <label>Prix</label>
            </div>
            <div class="col-md-2">
              <label>Prix Min:</label>
              <%= f.text_field :price_gteq, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <label>Prix Max:</label>
              <%= f.text_field :price_lteq, class: "form-control" %>
            </div>
          </div>
          <hr/>

          <div class="row">
            <div class="col-md-6">
              <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
            </div>
            <div class="col-md-6">
              <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "End Date", class: "form-control datepicker" %>
            </div>

          </div>
          <hr/>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[establishment_type_eq_any]", "Entire" %> Chambre
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[establishment_type_eq_any]", "Private" %> Privé
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[establishment_type_eq_any]", "Shared" %> Partagé
            </div>
          </div>
          <hr/>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group select">
                <label>Nombre de personnes</label>
                  <%= f.select :accommodate_gteq, [["1",1],["2",2],["3",3],["4+",4]],
                  id: "accommodate", prompt: "Selectionnez", class: "form-control" %>

              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group select">
                <label>Chambres</label>
                  <%= f.select :bed_room_gteq, [["1",1],["2",2],["3",3],["4+",4]],
                  id: "bed_room", prompt: "Selectionnez", class: "form-control" %>

              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group select">
                <label>Salles de bain</label>
                  <%= f.select :bath_room_gteq, [["1",1],["2",2],["3",3],["4+",4]],
                  id: "accommodate", prompt: "Selectionnez", class: "form-control" %>

              </div>
            </div>
          <div>
          <hr/>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[is_tv_eq]", true %> TV
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_kitchen_eq]", true %> Cuisine
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_internet_eq]", true %> Internet
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_tv_eq]", true %> Climatisation
            </div>
          </div>

        <% end %>

      </div>
    </div>

  </div>
