

// Title Contact Customer Care
#establishment-title-contact-customer-care{
  margin-top: 102px;
  margin-bottom: 0px !important;
  padding: 0 0 0 0px;
}

// Contact Customer Care
#establishment-id-contact-customer-care{
  margin-top: 0px;
  padding: 0 0 0 0px;
  // height: 90px;
}

#establishment-id{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 0 0 0px;
}

// Establishment Show Map
#map.establishment-map {
height: 168px;
 width: 263px;
 margin-left: -23px !important;
  margin-top: 0px !important;
}

.text-line-display {
  display: none;
}

.line-limited ul li:nth-of-type(1n+5) {
    display: none;
};
