

// Establishment Body
#establishment-body{
  // border: dotted;
  // border-color: green;
}

// Establishment Container
#establishment-container{
  // border: dotted;
  // border-color: blue;
}

// Establishment Left Filter
#establishment-left-filter{
  // border: dotted;
  // border-color: yellow;
}

// Title Contact Customer Care
#establishment-title-contact-customer-care{
  // border: dotted;
  // border-color: green;
  margin-top: 102px;
  margin-bottom: 0px !important;
  padding: 0 0 0 0px;
}

// Contact Customer Care
#establishment-id-contact-customer-care{
  // border: dotted;
  // border-color: red;
  margin-top: 0px;
  padding: 0 0 0 0px;
  // height: 90px;
}

#establishment-id{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 0 0 0px;
}


// Establishment Container Info
#establishment-container-info{
  // border: dotted;
  // border-color: purple;
}

// Establishment Tabs
#establishment-tabs{
  // border: dotted;
}

// Establishment Header
#establishment-header{
  // border: dotted;
}


// Establishment Rating
#establishment-rating{
  // border: dotted;
  // border-color: red;
}



// Establishment Show Map
#map.establishment-map {
height: 168px;
 width: 263px;
 margin-left: -23px !important;
  margin-top: 7px !important;
}


// MODAL OVERLAY PIC

.overlay-pic{
    color: white;
    background-color: black;
    opacity: 0.5;
    margin-top: -182px;
    height: 175px;
    text-align-last: center;
    padding-top: 70px;
    width: 263px;
    margin-right: 150px;
    margin-left: -23px;
}










