<!-- Footer -->
<footer class="page-footer">

  <!-- Footer top -->
  <div class="page-footer-top">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4">
        <!-- Grid column -->
          <div class="col text-center">
          <a href="https://www.mobeetravel.com/login">
            Votre compte
          </a>
          </div>
          <div class="col text-center">
          <a href="https://information.mobeetravel.com/business">
            Mobee for Business
          </a>
          </div>
          <div class="col text-center">
          <a href="https://information.mobeetravel.com/business">
            Devenir affilié
          </a>
          </div>
          <div class="col text-center">
          <a href="https://share.hsforms.com/1V0pslr6lRAe7j73Uv9dJHw3feik">
            Donnez nous votre avis
          </a>
          </div>
          <div class="col text-center">
          <a href="https://information.mobeetravel.com/care">
            Assistance
          </a>
          </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>
  <!-- Footer top -->



  <!-- Footer Links -->
  <div class="page-footer-center container mt-5">
    <!-- Grid row -->
    <div class="row mt-2">
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-2 ml-4 mr-4">
        <!-- Links -->
        <h6 class="mb-4">Les plus populaires</h6>
        <p>
          <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=france">Pays</a>
        </p>
        <p>
          <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=nice">Régions</a>
        </p>
        <p>
          <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=londres">Villes</a>
        </p>
        <p>
          <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=barcelone">Au hasard</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-2 mr-4">
        <!-- Links -->
        <h6 class="mb-4">Par categories</h6>
        <p>
          <a href="https://www.mobeetravel.com/search">Adaptés pour vous</a>
        </p>
        <p>
          <a href="https://www.mobeetravel.com/search">Maisons</a>
        </p>
        <p>
          <a href="https://www.mobeetravel.com/search">Hôtels</a>
        </p>
        <p>
          <a href="https://www.mobeetravel.com/search">Campings</a>
        </p>
        <p>
          <a href="https://www.mobeetravel.com/search">Appartement</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-2 mr-4">
        <!-- Links -->
        <h6 class="mb-4">Autres informations</h6>
        <p>
          <a href="https://information.mobeetravel.com/team">A propos de nous</a>
        </p>
        <p>
          <a href="https://share.hsforms.com/1V0pslr6lRAe7j73Uv9dJHw3feik">Votre avis</a>
        </p>
        <p>
          <a href="https://share.hsforms.com/1V0pslr6lRAe7j73Uv9dJHw3feik">Aide</a>
        </p>
        <p>
          <a href="https://share.hsforms.com/1V0pslr6lRAe7j73Uv9dJHw3feik">Partenaires</a>
        </p>
        <p>
          <a href="https://share.hsforms.com/1V0pslr6lRAe7j73Uv9dJHw3feik">Rejoignez-nous</a>
        </p>
        <p>
          <a href="https://information.mobeetravel.com/presse">Ils parlent de nous</a>
        </p>
        <p>
          <a href="https://share.hsforms.com/1V0pslr6lRAe7j73Uv9dJHw3feik">Contactez-nous</a>
        </p>
      </div>
      <!-- Grid column -->
      <div class="col-4">
        <!-- Content -->
        <h6 class="mb-4">mobeetravel.com</h6>
        <p class="mb-4">Nous nous occupons de tout de la réservation de votre établissement
          au matériel médical en passant par la location de votre véhicule.
        </p>
        <h6 class="mb-2">Gagner du temps</h6>
        <p>recevez notre newsletter
        </p>
        <!-- <form novalidate="novalidate" class="simple_form subscribe" id="0c5d5bdd-13e4-41c6-9e84-15f5d775d284">
          <div class="subscribe-form-control form-group">
            <input class="form-control string required" type="email" placeholder="Votre email..." />
            <button name="button" type="submit" class="btn btn-flat-subscribe">
              Envoyer
            </button>
          </div>
        </form> -->
        <!-- [if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js">
        </script>
        <![endif]-->
        <!-- <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "5757500",
            formId: "0c5d5bdd-13e4-41c6-9e84-15f5d775d284"
        });
        </script> -->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "5757500",
            formId: "0c5d5bdd-13e4-41c6-9e84-15f5d775d284"
        });
        </script>
      </div>
      </div>
    </div>
    <!-- Grid row
  </div>
  <!-- Footer Links -->
  <div class="container mt-5">
    <hr />
  </div>

  <!-- Copyright -->
  <div class="page-footer-bottom text-center py-3">mobeetravel.com
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js">
</script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "5757500",
    formId: "0c5d5bdd-13e4-41c6-9e84-15f5d775d284"
    submitButtonClass: 'btn btn-flat-subscribe',
    css: 'simple_form subscribe',
    cssClass: 'form-control string required',
});
</script>
