
<div class="container">
  <div class="row mb-3">
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=paris">
          <div class="card-product-infos">
              <span class="card-price">Prix:</span>
            <h6><i class="fas fa-map-marker-alt fa-sm"></i> Paris</h6>
              <span class="card-currency"> <strong>150 €</strong></span>
            <p><strong>48</strong> logements accessibles.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=londres">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Londres</h6>
            <span class="card-currency"> <strong>140 €</strong></span>
          <p><strong>45</strong> logements accessibles.</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=barcelone">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Barcelone</h6>
            <span class="card-currency"> <strong>120 €</strong></span>
          <p><strong>20</strong> logements accessibles.</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=munich">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Munich</h6>
            <span class="card-currency"> <strong>150 €</strong></span>
          <p><strong>1</strong> logements accessibles.</p>
        </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=narbonne">
          <div class="card-product-infos">
              <span class="card-price">Prix:</span>
            <h6><i class="fas fa-map-marker-alt fa-sm"></i> Narbonne</h6>
              <span class="card-currency"> <strong>80 €</strong></span>
            <p><strong>65</strong> logements accessibles.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=lyon">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Lyon</h6>
            <span class="card-currency"> <strong>90 €</strong></span>
          <p><strong>32</strong> logements accessibles.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=nice">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Nice</h6>
            <span class="card-currency"> <strong>135 €</strong></span>
          <p><strong>35</strong> logements accessibles.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=corse">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Corse</h6>
            <span class="card-currency"> <strong>150 €</strong></span>
          <p><strong>15</strong> logements accessibles.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=bordeaux">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Bordeaux</h6>
            <span class="card-currency"> <strong>91 €</strong></span>
          <p><strong>24</strong> logements accessibles.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=alpes">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Alpes</h6>
            <span class="card-currency"> <strong>65 €</strong></span>
          <p><strong>62</strong> logements accessibles.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=pyrénée">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Pyrénée</h6>
            <span class="card-currency"> <strong>130 €</strong></span>
          <p><strong>13</strong> logements accessibles.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=marrakech">
        <div class="card-product-infos">
            <span class="card-price">Prix:</span>
          <h6><i class="fas fa-map-marker-alt fa-sm"></i> Marrakech</h6>
            <span class="card-currency"> <strong>130 €</strong></span>
          <p><strong>12</strong> logements accessibles.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div align="right">
    <a href="https://www.mobeetravel.com/search"><strong><u>Voir plus &rarr;</u></strong></a>
  </div>
</div>
