<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-sides">
    <a class="carousel-control-prev btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left" id="left_chevron"></i></a>
    <a class="carousel-control-next btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"id="right_chevron"></i></a>
  </div>
  <!--/.Controls-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
          <div class="card-trip mb-2">
            <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=lecci">
            <img src="https://images.unsplash.com/photo-1552506667-336694bf67dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
            <div class="card-trip-infos">
              <div>
                <h6>Côte d'Azur</h6>
                <p>L'authenticité du litoral à la française</p>
              </div>
              <h6 class="card-trip-pricing">Découvrir</h6>
            </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-trip mb-2">
            <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=alpes">
            <img src="https://images.unsplash.com/photo-1477310405250-8113258ed5cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
            <div class="card-trip-infos">
              <div>
                <h6>Alpes</h6>
                <p>Pour un grand bol d’air frais</p>
              </div>
              <h6 class="card-trip-pricing">Découvrir</h6>
            </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-trip mb-2">
            <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=martinique">
            <img src="https://images.unsplash.com/photo-1544982370-2ae61923672a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
            <div class="card-trip-infos">
              <div>
                <h6>Guadeloupe/Martinique</h6>
                <p>Un papillon de paradis.</p>
              </div>
              <h6 class="card-trip-pricing">Découvrir</h6>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          <div class="card-trip mb-2">
            <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=barcelone">
            <img src="https://images.unsplash.com/photo-1464790719320-516ecd75af6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
            <div class="card-trip-infos">
              <div>
                <h6>Barcelone</h6>
                <p>Bienvenido a cataluña</p>
              </div>
              <h6 class="card-trip-pricing">Découvrir</h6>
            </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-trip mb-2">
            <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=paris">
            <img src="https://images.unsplash.com/photo-1431274172761-fca41d930114?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
            <div class="card-trip-infos">
              <div>
                <h6>Paris</h6>
                <p>La dame de fer n’attend que vous</p>
              </div>
              <h6 class="card-trip-pricing">Découvrir</h6>
            </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-trip mb-2">
            <a href="https://www.mobeetravel.com/search?utf8=%E2%9C%93&search=londres">
            <img src="https://images.unsplash.com/photo-1526129318478-62ed807ebdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
            <div class="card-trip-infos">
              <div>
                <h6>Londres</h6>
                <p>Une culture sans fin de beautés inouïes.</p>
              </div>
              <h6 class="card-trip-pricing">Découvrir</h6>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--/.Second slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

<!-- <h1>test</h1>
<%# @establishment.each do |establishment| %>
  <%#= image_tag establishment.cover_photo() %>
  <%#= link_to establishment.listing_name, establishment %>
<%# end %> -->
