#left_chevron {
background-color: white;
padding: 20px;
color: black;
margin-right: 150px;
opacity: none;
}

#right_chevron {
background-color: white;
padding: 20px;
color: black;
margin-left: 150px;
opacity: none;
}

