.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.norightpadding {
   padding-right: 0 !important;
   margin-right: 0 !important;
}

.noleftpadding {
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.notoppadding {
   padding-top: 0 !important;
   margin-top: 0 !important;
}

.nobottompadding {
   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
}
